:root {
  --background-color: #FDFD96;
  --text-color: rgb(175, 175, 175);
  --border-color-primary: rgba(219, 126, 4, 0.699);
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Munro';
  src: url('./assets/fonts/Munro-2LYe.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Munro';
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  width: 100vw;
  margin: 0;
}

img {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto;
}

#instructions {
  font-family: 'Munro';
  color: var(--text-color);
  width: 80vh;
  height: 80vh;
  padding: 5%;
  border: 4px dashed var(--border-color-primary);
  border-radius: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: auto;
}

.heading {
  color: rgb(135, 4, 196);
  width: 100%;
  margin-bottom: 10%;
  font-size: 2.5rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.list-item {
  font-size: 2.25rem;
  color: rgb(255, 196, 45);
}

#drifloon-left {
  position: absolute;
  left: 10%;
  top: 35%;
}

#drifloon-right {
  position: absolute;
  right: 10%;
  top: 35%;
  transform: scaleX(-1);
}

/* Animations */

@keyframes spin-twice-pause {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(720deg); } /* 2 full rotations */
  100% { transform: rotate(720deg); }
}

.spin-twice-pause {
  animation: spin-twice-pause 2s ease-in-out infinite;
  animation-delay: 1s; /* 1 second pause before restarting */
}
